.container {
  padding: 10px;
  width: 75%;
  margin: auto;
}
.innerContainer {
  display: flex;
  flex-direction: row;
}
.img {
  width: 65%;
  margin: auto;
  height: 85vh;
  /* position: absolute; */
}

.formData {
  color: #fff;
  padding: 3rem;
  background-color: rgba(65, 16, 243, 0.89);
  margin-left: -15rem;
  height: 65vh;
  margin-top: auto;
  margin-bottom: auto;
  width: 60vh;
}

.btn {
  border: 1px solid #fff;
  border-radius: 35%;
  padding: 8px;
  color: #fff;
  background: transparent;
  margin-top: 10px;
  margin-left: 60px;
}
.break {
  display: block;
}
