.container {
  background-image: url("../../Images/Landing.jpg");
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
}

.overlay {
  position: absolute;
  top: 10;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(68, 68, 68, 0.2);
  z-index: 1;
}
.landing {
  z-index: 2;
  color: #fff;
}

.nav {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
}

.item {
  margin: 15px;
}
